.table {
  width: 100%;
  font-size: 12px;
}
tr:nth-child(even) {
  background: rgba(13, 93, 184, 0.05);
}
tr:hover {
  background: #D2D7D3;
}
.headerCell {
  background-color: #0D5DB8;
  padding: 16px 5px;
  font-weight: bold;
  color: white;
}
.sortableColumnHeaderCell {
  cursor: pointer;
}
.cell {
  padding: 5px;
}
.row {
  transition: background-color .3s;
}
.selectedRow,
tr:nth-child(even).selectedRow {
  background-color: rgba(13, 93, 184, 0.3);
  transition: background-color .1s;
}
tr:hover.selectedRow {
  background-color: rgba(13, 93, 184, 0.4);
}
.progressContainer {
  display: flex;
  justify-content: center;
}
.circularProgress {
  align-self: center
}
